.site-bg {
    height: 100vh;
    background-image: url('img/cyber-background-circle-equalizer-66203.jpg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}

.top-nav {
    position: fixed;
    width: 100vw;
    padding: 0 50px;
    background: rgba(0,0,0,0.5);
    height: $nav-height;
}

.content {
    padding-top: calc(#{$nav-height} + 25px);
}
.sidebar-wrapper {
    position: fixed;
    top: 25vh;
    left: 25px;
    .side-nav-item {
        height: 0px;
        // opacity: 0;
        display: none;

        border-left: 3px solid;
        margin-left: 9px;
        padding-left: 25px;
        margin-top: -14px;
        // transition: opacity 1s ease;
        &.display {
            height: auto;
            display: block;
            // opacity: 1;
            padding-top: 14px;
        }
    }
}